// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activity_content {
  height: 300px;
  width: 100%;
  margin: 0px;  
  display: inline;
  overflow: scroll;
}


.panel-heading {
  text-align: center;
}

#activity_content {
  overflow: hidden;
}

div.datepicker {
  position: relative;
}

#side-bar {
  position: fixed;
  width: 260px;

  #vote_chart {
    width: 150px;
    height: 200px;
    margin: auto;
  }

  div#activity-action  {
    width: 100%;

    .btn {
      width: 50%;
      margin: auto;
    }
  }

  div#activity-function {
    width: 100%;
    margin-top: 20px;
    .btn {
      margin: 5px 0;
    }
  }
}

span.vote-text , span.i-text {
  font-size: 14px;
  position: relative;
  top: -4px;

}


