<% for event in @events %>
  <tr>
    <td><%=  link_to event.name, event_path(event)  %></td>
    <td><%= event.content  %></td>
  </tr> 
<% end %>  

<%= will_paginate @events ,renderer: BootstrapPagination::Rails%>
