<table  class="table">
<% for notification in @notifications %>
  <tr id="notification-<%= notification.id %>">
    <td>
     <%= link_to notification.title ,notification_path(notification) %> 
    </td>
    <td>
      <%= "Introduction: #{notification.content}" %>
    </td>
    <td>
      <%= link_to t(:mark_read), notification_path(notification) , method: "delete", class:"btn btn-primary mark-read" , remote: true %>
    </td>
  </tr>
<% end %>
</table>

