<div class="vote">
   <div id="upvotes" data-id="<%= @voteable.id %>">
       <i class="fa fa-thumbs-o-up fa-2x"> <span class="badge"><%= @voteable.get_upvotes.size %></span></i>
     </div> 
     <div id="downvotes" data-id="<%= @voteable.id %>">
       <i class="fa fa-thumbs-o-down fa-2x"> <span class="badge"><%= @voteable.get_downvotes.size %></span></i>
     </div>
   </div>
</div>
