<%#create preview toolbar%>
<div class="form-group">
  <div class="editor-toolbar col-sm-offset-2 col-sm-10">
    <ul class="nav nav-pills">
      <li class="edit active"><%= link_to('edit', "#") %></li>
      <li class="preview"><%= link_to('preview', "#") %></li>
    </ul>
  </div>
</div>

