<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> <%= t :track %></h2>
                <h3 class="section-subheading text-muted"> <%= t :track_descript %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                  <% if track_activity_event.count > 0 %>
                    <ul class="timeline">
                      <% for @event in track_activity_event %>
                        <%= render @event %>
                      <% end %> 
                    </ul>
                  <% else %>
                    <div class="none-event">
                      <div class="none-event-img">
                        <i class="fa fa-calendar-times-o fa-4x"></i> 
                      </div>
                      <p>你还没有正在关注的活动,你可以进入活动页面关注它</p>
                    </div>  
                  <% end %>
            </div>
        </div>
    </div>
</section>
