<div class="panel panel-default">
  <div class="panel-heading">
   <%= @activity.name %> 
  </div>
  <div class="panel-body">
   <%= @activity.content %> 
  </div>
  <div class="panel-footer">
   <%= @activity.originator.email %> 
  </div>
</div>
