// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.favoritable {
  display: block;
  float: right;
  height: 40px;
  width: 80px;
}

div.float-control {
  position: fixed;
  top: 300px;
  left: 50px;
}

div.side-bar-scroll  {
  margin-top: 20px;
  width: 260px;

  .btn {
      width: 100%;
      margin: 5px auto;
  }


}


table {
  margin-top: 20px;
}


.user-item {
  
  img {
    display: inline-block;
    height: 24px;
    width:  24px;
  } 

  a {
    margin-left: 10px;
    display: inline-block;
  }
}
