<table class="table">  
<% for activity in @activities %>
  <tr>
    <td><%=activity.name%></td>
    <td><%=activity.content%></td>
    <td><%= track_tag activity %></td>
  </tr> 
<% end %>
</table>
<%= will_paginate @activities ,renderer: BootstrapPagination::Rails%>
