<!-- Header -->
<header>
    <div class="container">
        <div class="simple-intro-text">
            <div class="intro-lead-in">Welcome To Our Friend Party!</div>
        </div>
    </div>
</header>
