<%= form_for [@group, @application] do |f| %>
   <div class="form-group">
     <%= f.label :content, 'contetn' %>
     <%= f.text_area :content , class:"form-control" %> 
   </div> 
   <%= f.submit 'Join', :disable_with => 'ing...' ,class:"btn btn-primary"%>
<% end %>
